* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background: #a9c0df;
  margin: 0;
}
header {
  background: #cd77ad;

  font-weight: 700;
  width: 100vw;
  margin: 0;
}
header .container {
  max-width: 1200px;
  margin: 0 auto 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1600px;

  margin: 0 auto;
}
.hikes {
  margin-top: 40px;
}

.hike-object {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.hike-details {
  margin-bottom: 30px;
  max-width: 40%;
}
.truncated {
  max-width: 250px;
  text-align: left;
  padding-left: 0;
}

.hike-details > * {
  text-align: left;
  margin: 5px auto;
}
img {
  max-width: 300px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

hr {
  color: gray;
  height: 1px;
  width: 100%;
  opacity: 0.3;
  padding-bottom: 50px;
}

.rating-span {
  font-weight: 700;
}

.form {
  margin: 30px auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 20px;
}

.form input {
  height: 25px;
}
.form h3 {
  text-align: center;
}
.form-img-label {
  margin-top: 25px;
}
.submit-btn {
  padding: 5px 20px;
  max-width: 80px;
  background: whitesmoke;
  margin: 10px auto;
  border-radius: 10px;
}
.mern-btn {
  float: right;
  margin-right: 20px;
  border-radius: 5px;
  border: none;
}
.error {
  border: 3px solid red;
}
h4,
.error p {
  color: red;
}

.trashcan {
  color: red;
  display: block;
  margin-right: 0;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-description {
  margin-bottom: 30px;
}
.title-description h1 {
  text-align: center;
  color: #052049;
}
.title-description p {
  color: #333333;
  line-height: 1.5;
  max-width: 90vw;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .hike-object {
    margin: 30px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
  }
  img {
    margin: 20px 10px;
    max-width: 350px;
  }
  img:hover {
    max-width: 500px;
  }
  .images-container {
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .title-description {
    max-width: 800px;
    margin: 10px auto;
    text-align: center;
  }
  .title-description p {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
  }
}
